<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Facultad de Ingeniería</title>
	 
	   <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	</head>
	<body>
		
		<div class="containter text-center">
			<h1>FORMULARIO CARRERA</h1>
			<div class="row justify-content-center">
				<div class="col-sm-9 col-md-6 ">
				<form data-th-object="${nuevaCarrera}" data-th-action="@{/guardarCarrera}" method="post"  >
				
					<label for="codigo" class="form-label mt-1">Codigo</label> 
					<input type="text" class="form-control"	id="codigo" data-th-field="*{codigo}">				

					<label for="nombre" class="form-label mt-1">Nombre Carrera</label>
					<input type="text" class="form-control"	id="nombre" data-th-field="*{nombre}">

					<label for="cantidad" class="form-label mt-1">Cantidad Años</label>
					<input type="number" class="form-control" id="cantidad" data-th-field="*{cantAños}">

				<button type="submit" class="btn btn-primary mt-2">Guardar Carrera</button>
				</form>
				</div>
			</div>
		</div>

		<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>